html,
body {
  text-align: left;
  color: black;
  font-family: "Merriweather Sans", sans-serif;
}

p {
  margin: 4px;
}

ul li {
  list-style: none;
}

.main {
  padding: 50px 80px 30px 80px;
}

.name {
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
}

.light-content{
    color: #808080;
}

.divider {
  border: 2px solid salmon;
  border-radius: 1px;
  width: 10px;
  float: left;
  margin-right: 3px;
}

#header-last-name {
  margin-left: 60px;
}

#intro,
#contact,
#experience,
#volunteer {
  margin: 100px 0 0 100px;
}

#intro-header {
  margin: 8px 0 0 60px;
  font-size: 80px;
}

#intro-content {
  font-size: large;
}

#email-btn {
  text-decoration: none;
}

a {
  color: inherit;
}

#email {
  margin: 10px 0 8px 0;
  height: 100px;
  width: 25%;
  color: rgb(0, 0, 0);
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
  cursor: pointer;
}

#email:hover {
  background-color: black;
  color: white;
}

#contact-btn {
  margin: 10px 0 8px 0;
  bottom: 0;
  float: right;
  width: 15%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
