body {
  background-color: white;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-user-select: none; /* safari*/
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Opera and Firefox */
}

.textColor {
  color: red;
}
p,
h1 {
  margin: 4px;
}

.full-width-img {
  margin-left: 0;
  position: relative;
  margin-top: 20px;
}
header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-button {
  border: none;
  background-color: inherit;
  font-size: larger;
  cursor: pointer;
}
.nav-bar-button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.nav-bar-button span {
  border-bottom: 1px solid black;
  border-color: salmon;
}

.footer {
  margin-top: 6em;
  border-width: 0.5px;
}

.image-div,
img {
  position: relative;
  left: 0;
  width: 90vw;
}
ul li {
  list-style: none;
}

li::before {
  content: "⁃ ";
  color: salmon; /* or whatever color you prefer */
}
.main {
  padding: 50px 80px 30px 80px;
}
.name {
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
}
.light-content {
  color: #e17366;
}
.divider {
  border: 2px solid salmon;
  background-color: salmon;
  border-radius: 1px;
  width: 10px;
  float: left;
  margin-right: 3px;
}

.intro-header {
  margin-top: 80px;
}

#experience,
#volunteer {
  margin: 50px 0 0 100px;
}
#intro-content {
  font-size: large;
}

a {
  color: inherit;
}

.btn {
  width: 14vw;
  height: 30px;
  margin: 10px;
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn-hover:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.post-btn:hover {
  transform: scale(1.002);
  transition: transform 200ms;
}

.sideDiv {
  padding: 30px 20px 20px 20px;
  text-align: center;
  margin: 50px 20px 20px 20px;
}

/* Contact page css */
a {
  text-decoration: none;
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:before {
    content: ": " attr(title);
  }
}
.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.contact-btn {
  height: 100px;
  min-height: max-content;
  min-width: -webkit-fill-available;
  min-width: -webkit-fit-content;
  min-width: fit-content;
}

.large-text {
  font-size: xx-large;
}

.contact-btn:hover {
  color: white;
  background-color: salmon;
  transition: background-color ease-in 300ms, ease-in color 300ms;
}
